a {
  text-decoration: none !important;
}

.card {
  border: 1px solid !important;
  border-image: linear-gradient(to right, #7b00ff, #f700ff) 1 !important;
  background-image: linear-gradient(160deg, #1d2129 70%, #7b00ff33) !important;
}

.carouselPortoImg {
  border-radius: 20px;
  box-shadow: 0 0 10px 0 #00000080;
}

.btn-outline-1 {
  color: #fff;
  padding: 5px 16px;
  border: 1px solid;
  border-image: linear-gradient(to right, #7b00ff, #f700ff) 1;
  transition: border 0.2s ease;
}

.btn-outline-1:hover {
  color: #fff;
  border: 3px solid;
  border-image: linear-gradient(to right, #f700ff, #7b00ff) 1;
}

.App {
  color: white;
  background-color: #252a32;
}

.hero {
  width: 100%;
  height: 85vh;
}

.hero__img {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.hero__text {
  margin-top: 1rem;
}

.foto {
  position: relative;
  width: 33%;
  border-radius: 0px;
  border: 3px solid;
  border-image: linear-gradient(to right, #7b00ff, #f700ff) 1;
  box-shadow: 0 0 10px 0 #00000080;
  animation-name: foto;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
}

.foto1 {
  display: none;
}

.foto2 {
  display: none;
}

.logo-techstack,
.logo-socmed {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  padding-bottom: 8px;
}

.logo-socmed:hover {
  transform: scale(1.2);
}

/* desktop screen */
@media (min-width: 768px) {
  .hero__text {
    margin-top: 5rem;
  }

  .foto {
    position: relative;
    width: 33%;
    border-radius: 0px;
    border: 3px solid;
    border-image: linear-gradient(to right, #7b00ff, #f700ff) 1;
    box-shadow: 0 0 10px 0 #00000080;
    animation-name: none;
  }

  .foto1 {
    display: block;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .foto2 {
    display: block;
    top: 40px;
    left: -50px;
    z-index: 2;
  }

  .foto3 {
    top: 80px;
    left: -100px;
    z-index: 3;
    animation-name: foto;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
  }

  .role-text {
    font-size: 22px;
    font-weight: 600;
  }

  .role-text .role-line {
    position: relative;
    top: 5px;
    display: block;
    width: 250px;
    height: 2px;
    background-image: linear-gradient(to right, #7b00ff, #f700ff);
    border: 1px solid;
    border-image: linear-gradient(to right, #7b00ff, #f700ff);
  }
}

/* The animation code */
@keyframes foto {
  0% {
    content: url("assets/images/foto3.jpg");
  }
  25% {
    content: url("assets/images/foto3.jpg");
  }
  50% {
    content: url("assets/images/foto2.jpg");
  }
  75% {
    content: url("assets/images/foto1.jpg");
  }
  100% {
    content: url("assets/images/foto4.jpg");
  }
}
